<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.zadaniebazydanych">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:replace="android:theme"
        android:theme="@style/Theme.ZadanieBazyDanych"
        tools:targetApi="31">
        <activity
            android:name=".makeorderpage.MakeOrder"
            android:exported="false">
        </activity>
        <activity
            android:name=".createproduct.CreateProduct"
            android:exported="false" />
        <activity
            android:name=".productpage.ProductPage"
            android:exported="false" />
        <activity
            android:name=".loginpage.SignUpPage"
            android:exported="false" />
        <activity
            android:name=".mainpage.MainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".loginpage.LoginPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="callback"
                    android:scheme="zadanieandroid" />
            </intent-filter>
        </activity>
        <receiver android:name=".notifacation.MyBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="APP_SPECIFIC_BROADCAST

" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>